{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Carousel{% endblock %}

{% block body %}
    <h1>Nouveau Carousel</h1>

    {{ include('admin_carousel/_form.html.twig') }}

    <a href="{{ path('app_admin_carousel_index') }}" class="btn btn-dark mt-2">retour à la liste</a>
{% endblock %}
