{% extends 'base-backend.html.twig' %}

{% block title %}Nouvel Editeur{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_editeur_index') }}" class="btn btn-dark">Retour à la liste</a>
    <h1>Nouvel éditeur</h1>

    {{ include('admin_editeur/_form.html.twig') }}

{% endblock %}
