{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle image de livre{% endblock %}

{% block body %}
    <h1>Nouvelle image de livre</h1>

    {{ include('admin_livre_image/_form.html.twig') }}

    <a href="{{ path('app_admin_livre_image_index') }}" class="btn btn-dark mt-2" >back to list</a>
{% endblock %}
